openapi: 3.2.0
info:
  title: Kannkidas De Kann KI Das? API
  version: 1.1.0
  description: 'Operations tagged Kann KI Das? API across 2 of this provider''s published API definitions: kannkidas-de-openapi.json, kannkidas-de-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://kannkidas.de/api
tags:
- name: Kann KI Das? API
paths:
  /v1:
    get:
      operationId: getPaidSponsorBuyerBrief
      summary: Fetch a sponsor buyer brief through x402
      description: Protocol-conformance endpoint on Base Sepolia testnet. Commercial sponsor placements remain EUR purchases through buyer-confirmed Stripe hosted Checkout.
      responses:
        '200':
          description: Paid buyer brief and live slot availability
          headers:
            PAYMENT-RESPONSE:
              schema:
                type: string
                contentEncoding: base64
        '402':
          description: x402 v2 payment requirements
          headers:
            PAYMENT-REQUIRED:
              required: true
              schema:
                type: string
                contentEncoding: base64
      tags:
      - Kann KI Das? API
    servers:
    - url: https://kannkidas.de/api
components:
  securitySchemes:
    clientBasic:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://kannkidas.de/api/oauth/token
          scopes:
            sponsorship:read: Read own purchase status
            sponsorship:write: Create a confirmed checkout
x-refined-from:
- kannkidas-de-openapi.json
- kannkidas-de-openapi.yml
