openapi: 3.2.0
info:
  title: Kannkidas De Slots API
  version: 1.1.0
  description: 'Operations tagged Slots across 2 of this provider''s published API definitions: kannkidas-de-openapi.json, kannkidas-de-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://kannkidas.de/api
tags:
- name: Slots
paths:
  /slots:
    get:
      operationId: listSponsorSlots
      summary: List live sponsor-slot availability
      responses:
        '200':
          description: Current slot states
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotList'
      tags:
      - Slots
    servers:
    - url: https://kannkidas.de/api
components:
  schemas:
    SlotList:
      type: object
      required:
      - slots
      properties:
        slots:
          type: array
          items:
            type: object
            required:
            - id
            - status
            properties:
              id:
                type: string
              status:
                enum:
                - available
                - held
                - sold
                - active
  securitySchemes:
    clientBasic:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://kannkidas.de/api/oauth/token
          scopes:
            sponsorship:read: Read own purchase status
            sponsorship:write: Create a confirmed checkout
x-refined-from:
- kannkidas-de-openapi.json
- kannkidas-de-openapi.yml
